################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StarshipResupplyCalculator/v16
/.vs/StarshipResupplyCalculator/DesignTimeBuild
/StarshipResupplyCalculator/obj/Debug/netcoreapp3.1
/StarshipResupplyCalculator/obj
